.banner::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/img/banner.svg') no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
  opacity: 20%;
}
