@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .skeleton {
    @apply bg-[#00000022];
    @apply rounded-full;
    @apply children:invisible;
    @apply text-transparent;
    @apply animate-pulse;
  }

  .max-w-page {
    @apply mx-auto xs:max-w-md sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl px-6 sm:px-0;
  }

  .focus-green-primary {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-primary;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fade-out-in {
  animation-name: fade-out-in;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@font-face {
  font-family: 'GRIFTER';
  src: url('../../public/fonts/grifterbold.otf');
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked + div {
  @apply border-green-primary;
  @apply bg-green-primary;
}
input:checked + div svg {
  @apply block;
}

/* disable chrome input background when autofill is enabled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.react-syntax-highlighter code {
  font-weight: 600;
}

.react-syntax-highlighter-line-number {
  padding-right: 1.5em !important;
  padding-left: 0.4em;
}

.typed-cursor {
  display: inline-flex;
  justify-content: center;
  width: 4px;
  overflow: hidden;
  transform: translateY(-1px);
}

:root {
  --toastify-color-light: #07070690;
  --toastify-font-family: 'Helvetica Neue', 'Arial';
  --toastify-text-color-light: rgba(255, 255, 255, 0.8);
  --toastify-color-success: #65feb7;
}
