@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .skeleton {
    @apply bg-[#00000022];
    @apply rounded-full;
    @apply children:invisible;
    @apply text-transparent;
    @apply animate-pulse;
  }

  .max-w-page {
    @apply mx-auto xs:max-w-md sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl px-6 sm:px-0;
  }

  .focus-green-primary {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-primary;
  }

  .hex {
    display: inline-block;
  }

  .hex-bg-primary::before {
    background: radial-gradient(
      160.49% 199.62% at 107.22% -37.5%,
      #f27b50 0%,
      #f27b50 16.84%,
      #ba54ec 52.92%,
      #78e3b2 78.53%,
      #65feb7 98.88%
    );
  }

  .hex-bg-secondary::before {
    background: linear-gradient(
      144.36deg,
      #3c707d 6.17%,
      #328897 31%,
      #d59105 100%
    );
  }

  .hex::before {
    content: '';
    display: block;
    padding-top: 90%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }

  /* https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/ */
  /* https://dev.opera.com/articles/css-will-change-property/ */
  .bg-site {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/img/landing.svg') no-repeat top center;
    background-size: cover;
    will-change: transform;
  }

  .bg-about-mission {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/img/about/mission.png');
    background-size: cover;
    background-position: center;
  }

  .border-image-none {
    border-image: none;
  }

  .border-image-gradient {
    border-image: linear-gradient(to right, #ffffff, #ffffff1a) 1;
  }
  .border-image-gradient-green-primary {
    border-image: linear-gradient(to right, #65feb7, #65feb71a) 1;
  }
  .company-gradient-mobile {
    background: linear-gradient(30deg, rgba(241, 140, 67, 0.8) 0%, #34b888 70%);
  }
  .company-gradient-tablet {
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(241, 140, 67, 0.6) 60%,
      rgb(52, 184, 136, 0.7) 100%
    );
  }
  .scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    /* combination of width, box-shadow, and border-left to fake margin-left */
    width: 12px;
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.3);
    border-left: 11px solid transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #65feb7;
    border-left: 10px solid transparent;
  }

  .scrollbar-horizontal::-webkit-scrollbar {
    -webkit-appearance: none;
    /* combination of height, box-shadow, and border-top to fake margin-top */
    height: 12px;
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.3);
    border-top: 11px solid transparent;
  }

  .scrollbar-horizontal::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #65feb7;
    border-top: 10px solid transparent;
  }
}

@layer utilities {
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .translate-x-center {
    @apply left-1/2 -translate-x-1/2;
  }
  .translate-y-center {
    @apply top-1/2 -translate-y-1/2;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fade-out-in {
  animation-name: fade-out-in;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@font-face {
  font-family: 'GRIFTER';
  src: url('../../public/fonts/grifterbold.otf');
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked + div {
  @apply border-green-primary;
  @apply bg-green-primary;
}
input:checked + div svg {
  @apply block;
}

/* disable chrome input background when autofill is enabled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.react-syntax-highlighter code {
  font-weight: 600;
}

.react-syntax-highlighter-line-number {
  padding-right: 1.5em !important;
  padding-left: 0.4em;
}

.typed-cursor {
  display: inline-flex;
  justify-content: center;
  width: 4px;
  overflow: hidden;
  transform: translateY(-1px);
}

:root {
  --toastify-color-light: #07070690;
  --toastify-font-family: 'Helvetica Neue', 'Arial';
  --toastify-text-color-light: rgba(255, 255, 255, 0.8);
  --toastify-color-success: #65feb7;
}

.tooltip-container {
  --tooltipBackground: rgba(0, 0, 0, 0.8);
  --tooltipBorder: rgba(0, 0, 0, 0.8);
  --tooltipColor: #ffffff;
}

.react-datepicker {
  @apply !border-none;
  @apply !bg-dropdown;
  @apply backdrop-blur-[100px];
  @apply !text-white;
}

.react-datepicker__header {
  @apply !bg-transparent;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply !text-white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  @apply !text-white;
}

.react-datepicker__navigation-icon::before {
  @apply !top-3;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply !bg-green-primary;
  @apply !text-black;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  @apply !bg-green-primary;
  @apply !text-black;
}
