@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GRIFTER';
  src: url('../public/fonts/grifterbold.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:checked + div {
  @apply border-green-400;
  @apply bg-green-400;
}
input:checked + div svg {
  @apply block;
}
